

<!--

    Angular material was causing the map to disappear. Due to time constraints had to use bootstrap for table

-->
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Wind Probability</th>
            <th>When to go</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of spotsData">
            <td>{{item.name}}</td>
            <td>{{item.country}}</td>
            <td>{{item.lat | number}}</td>
            <td>{{item.long | number}}</td>
            <td>{{item.probability}}%</td>
            <td>{{item.month}}</td>
        </tr>
    </tbody>
    </table>
</div>